<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.LoginMapper">

    <!-- 결과 매핑 정의 -->
    <resultMap id="LoginResultMap" type="com.pcwk.ehr.login.domain.Login">
        <result column="member_id" property="memberId"/>
        <result column="password" property="password"/>
    </resultMap>
    
    <resultMap id="MemberResultMap" type="com.pcwk.ehr.member.domain.Member">
        <result column="member_id" property="memberId"/>
        <result column="loc_code" property="locCode"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="is_admin" property="isAdmin"/>
    </resultMap>
    
    <select id="idCheck" parameterType="Login" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId}   
    </select> 

    <select id="passwordCheck" parameterType="Login" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId}
        AND password = #{password}  
    </select>

    <select id="login" parameterType="Login" resultMap="MemberResultMap">
        SELECT  
            member_id AS memberId,
            loc_code AS locCode,
            password AS password,
            name AS name,
            nickname AS nickname,
            is_admin AS isAdmin
        FROM member
        WHERE member_id = #{memberId}
    </select>




</mapper>
