<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
  
    <typeAliases>
        <typeAlias alias="Location" type="com.pcwk.ehr.location.domain.Location"/>
        <typeAlias alias="Code"     type="com.pcwk.ehr.code.domain.Code"/>
        <typeAlias alias="Member"   type="com.pcwk.ehr.member.domain.Member"/>
        <typeAlias alias="Login"    type="com.pcwk.ehr.login.domain.Login"/>
        
        
    </typeAliases>
 </configuration>