<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
        <!--  <setting name="jdbcTypeForNull" value="NULL"/>-->
    </settings>
  
    <typeAliases>
        <typeAlias alias="Location" type="com.pcwk.ehr.location.domain.Location"/>
        <typeAlias alias="Search" type="com.pcwk.ehr.cmn.Search"/>
        <typeAlias alias="Code"     type="com.pcwk.ehr.code.domain.Code"/>
        <typeAlias alias="Member"   type="com.pcwk.ehr.member.domain.Member"/>
        <typeAlias alias="Reply" type="com.pcwk.ehr.reply.domain.Reply"/>
        <typeAlias alias="Board" type="com.pcwk.ehr.board.domain.Board" />
    </typeAliases>
 </configuration>