<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.MemberMapper">

    <!-- 결과 매핑 정의 -->
    <resultMap id="MemberResultMap" type="com.pcwk.ehr.member.domain.Member">
        <result column="member_id" property="memberId"/>
        <result column="loc_code" property="locCode"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="is_admin" property="isAdmin"/>
    </resultMap>
    


	  <sql id="doRetrieveWhere">
	        <where>
	            <choose>
	                <when test="searchDiv != null and searchDiv == '10'">
	                    MEMBER_ID LIKE CONCAT(#{searchWord}, '%')
	                </when>
	                <when test="searchDiv != null and searchDiv == '20'">
	                    NAME LIKE CONCAT(#{searchWord}, '%')
	                </when>
	                <when test="searchDiv != null and searchDiv == '30'">
	                    NICKNAME LIKE CONCAT(#{searchWord}, '%')
	                </when>
	            </choose>
	        </where>
	    </sql> 



    <!--중복 체크 쿼리 -->
    <select id="idDuplicateCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId} 
    </select>

	<select id="nicknameDuplicateCheck" resultType="int" parameterType="String">
	        SELECT COUNT(*) 
	        FROM member
	        WHERE nickname = #{nickname}
	</select>
	
	
	
	
    <!-- 회원 등록 -->
    <insert id="doSave" parameterType="com.pcwk.ehr.member.domain.Member">
        INSERT INTO member (
            member_id, loc_code, password, name, nickname, is_admin
        ) VALUES (
            #{memberId}, #{locCode}, #{password}, #{name}, #{nickname}, #{isAdmin}
        )
    </insert>





    <select id="idCheck" parameterType="com.pcwk.ehr.member.domain.Member" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId}   
    </select> 

    <select id="passwordCheck" parameterType="com.pcwk.ehr.member.domain.Member" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId}
        AND password = #{password}  
    </select>

    <select id="login" parameterType="com.pcwk.ehr.member.domain.Member" resultMap="MemberResultMap">
	    SELECT 
	        member_id AS memberId,
	        password AS password    
	    FROM member 
	    WHERE member_id = #{memberId} 
	    AND password = #{password}
</select>

	
	
	
	
    <!-- 단건 조회 쿼리 -->
	<select id="doSelectOne" parameterType="String" resultMap="MemberResultMap">
	    SELECT
	        member_id,
	        loc_code,
	        password,
	        name,
	        nickname,
	        is_admin
	    FROM member
	    WHERE member_id = #{memberId}
	</select>

    <!-- 전체 조회 쿼리 -->
    <select id="getAll" resultMap="MemberResultMap">
        SELECT
            member_id AS memberId,
            loc_code AS locCode,
            password AS password,
            name AS name,
            nickname AS nickname,
            is_admin AS isAdmin
        FROM member
    </select>

    <!-- 전체 회원 수 조회 쿼리 -->
    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM member
    </select>

    <!-- 전체 데이터 삭제 쿼리 -->
    <delete id="deleteAll">
        DELETE FROM member
    </delete>



    <!-- 데이터 업데이트 쿼리 -->
    <update id="doUpdate" parameterType="com.pcwk.ehr.member.domain.Member">
        UPDATE member
        SET
            loc_code = #{locCode}, 
            password = #{password},
            name = #{name},
            nickname = #{nickname},
            is_admin = #{isAdmin} 
        WHERE member_id = #{memberId} 
    </update>

    <!-- 다건 저장 쿼리 -->
    <insert id="multipleSave" parameterType="java.util.List">
        INSERT INTO member (
            member_id,
            loc_code,
            password,
            name,
            nickname,
            is_admin
        ) VALUES
        <foreach collection="list" item="member" separator=",">
            (#{member.memberId},
            #{member.locCode},
            #{member.password},
            #{member.name},
            #{member.nickname},
            #{member.isAdmin}) 
        </foreach>
    </insert>






<!--     데이터 조회 쿼리
    <select id="doRetrieve" parameterType="com.pcwk.ehr.member.domain.Member" resultType="Member">
        SELECT A.*, B.totalCnt
        FROM (
            SELECT TT1.rnum AS no,
                   TT1.MEMBER_ID AS memberId,
                   TT1.LOC_CODE AS locCode,
                   TT1.PASSWORD AS password,
                   TT1.NAME AS name,
                   TT1.NICKNAME AS nickname,
                   TT1.IS_ADMIN AS isAdmin
            FROM (
                SELECT ROWNUM AS rnum, T1.*
                FROM (
                    SELECT *
                    FROM MEMBER
                    <include refid="doRetrieveWhere"/>
                    ORDER BY MEMBER_ID DESC
                ) T1
                WHERE ROWNUM <![CDATA[ <= (#{pageSize} * #{pageNo})]]>
            ) TT1
            WHERE TT1.rnum <![CDATA[ >= (#{pageSize} * (#{pageNo} - 1) + 1)]]>
        ) A
        CROSS JOIN (
            SELECT COUNT(*) AS totalCnt
            FROM MEMBER
            <include refid="doRetrieveWhere"/>
        ) B
    </select> -->



</mapper>
