<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.ReplyMapper">
    
    
    
    <!-- 전체 댓글 삭제(테스트용) -->
    <delete id="deleteAll">
        DELETE FROM C##NUMBERONE.REPLY
    </delete>
    
    <!-- 댓글 저장 -->
    <insert id="doSave" parameterType="Reply">
        INSERT INTO C##NUMBERONE.REPLY (
            REG_ID,
            REPLY_CONTENTS,
            PARENT_REPLY,
            BOARD_NO,
            REG_DT,
            MOD_DT,
            REPLY_LEVEL,
            NICK_NAME
        ) VALUES (
            #{regId},
            #{replyContents},
            #{parentReply},
            #{boardNo},
            SYSDATE,
            SYSDATE,
            #{replyLevel},
            #{nickName}
        )
    </insert>
    <!-- 댓글 조건 검색 -->
	    <sql id="whereReplyRetrieve">
        <where>
        <choose> 
           <when test="searchDiv != null  and searchDiv == '10' ">
               AND BOARD_NO = #{searchWord} 
           </when>
           <when test="searchDiv != null  and searchDiv == '20' ">
               AND REG_ID LIKE #{searchWord} || '%'     
           </when>
           <when test="searchDiv != null  and searchDiv == '30' ">           
               AND replyContents LIKE #{searchWord} || '%'
           </when>  
        </choose>
        </where>
    </sql>
    
    <!-- 특정 댓글 조회 -->
    <select id="doSelectOne" parameterType="Reply" resultType="Reply">
        SELECT
            REPLY_NO as replyNo,
            BOARD_NO as boardNo,
            REG_ID as regId,
            NICK_NAME as nickName,
            REPLY_CONTENTS as replyContents,
            PARENT_REPLY as parentReply,
            TO_CHAR(REG_DT, 'YYYY/MM/DD HH24:MI:SS') as regDt,
            TO_CHAR(MOD_DT, 'YYYY/MM/DD HH24:MI:SS') as modDt
        FROM C##NUMBERONE.REPLY
        WHERE REPLY_NO = #{replyNo}
    </select>



    <!-- 댓글 수정 -->
    <update id="doUpdate" parameterType="Reply">
        UPDATE C##NUMBERONE.REPLY
        SET REPLY_CONTENTS = #{replyContents},
            PARENT_REPLY = #{parentReply},
            MOD_DT = SYSDATE
        WHERE seq = #{seq}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="doDelete" parameterType="Reply">
        DELETE FROM C##NUMBERONE.REPLY
        WHERE seq = #{seq}
    </delete>



<select id="getSequence" resultType="int">
    SELECT MAX(reply_no) AS replyNo 
    FROM reply
</select>
  
 <!--   
    <select id="doRetrieve" parameterType="Search" resultType="Reply">
        SELECT A.*, B.*
        FROM (
            SELECT *
            FROM (
                SELECT t2.reply_no as replyNo,
                       t2.parent_reply as parentReply,
                       t2.reg_id as regId,
                       LPAD(' ', LEVEL * 2, ' ') || t2.reply_contents AS replyContents,
                       ROW_NUMBER() OVER (ORDER BY t2.reply_no) AS rnum,
                       LEVEL AS replyLevel
                FROM board t1
                JOIN reply t2 ON t1.board_no = t2.board_no
                START WITH t2.parent_reply = 0
                CONNECT BY PRIOR t2.reply_no = t2.parent_reply
            ) tt2
            WHERE rnum BETWEEN #{pageSize} * (#{pageNo} - 1) + 1 AND #{pageSize} * #{pageNo}
        ) A
        CROSS JOIN (
            SELECT COUNT(*) AS totalCnt
            FROM reply
        ) B
    </select>
 --> 
 

    
    <!-- 댓글 전체 조회 -->
    <select id="doRetrieve" parameterType="Search" resultType="Reply">
    SELECT T1.*, T2.*
    FROM (
        SELECT ROWNUM AS rnum, A.*,level as replyLevel
        FROM (
            SELECT 
                REPLY_NO as replyNo, 
                BOARD_NO as boardNo,
                REG_ID as regId,
                NICK_NAME as nickName,
                REPLY_CONTENTS as replyContents, 
                PARENT_REPLY as parentReply,  
                TO_CHAR(REG_DT, 'YYYY/MM/DD HH24:MI:SS') as regDt,
                TO_CHAR(MOD_DT, 'YYYY/MM/DD HH24:MI:SS') as modDt
            FROM C##NUMBERONE.REPLY
           <include refid="whereReplyRetrieve"/>
        ) A
        WHERE ROWNUM <![CDATA[ <= ]]> #{pageSize} * (#{pageNo} - 1) + #{pageSize}
        START WITH parentReply = 0
        CONNECT BY PRIOR replyNo = parentReply
        ORDER SIBLINGS BY replyNo
    ) T1
    JOIN (
        SELECT COUNT(*) as totalCnt 
        FROM C##NUMBERONE.REPLY
       <include refid="whereReplyRetrieve"/>
    ) T2 ON 1=1
    WHERE T1.rnum <![CDATA[ >= ]]> #{pageSize} * (#{pageNo} - 1) + 1
</select>

    
</mapper>