<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.ReplyMapper">
    
    <!-- 최신 댓글 순번순으로 조회 -->
    <select id="getLatestReplyNo" resultType="int">
        SELECT NVL(MAX(REPLY_NO), 0) 
        FROM C##NUMBERONE.REPLY
    </select> 
    
    <!-- 전체 댓글 삭제(테스트용) -->
    <delete id="deleteAll">
        DELETE FROM C##NUMBERONE.REPLY
    </delete>
    
    <!-- 댓글 저장 -->
    <insert id="doSave" parameterType="Reply">
        INSERT INTO C##NUMBERONE.REPLY (
            REPLY_NO,
            BOARD_NO,
            REG_ID,
            REPLY_CONTENTS,
            PARENT_REPLY,
            REG_DT,
            MOD_DT,
            REPLY_LEVEL,
            NICK_NAME
        ) VALUES (
            REPLY_SEQ.NEXTVAL,
            #{boardNo},
            #{regId},
            #{replyContents},
            #{parentReply},
            SYSDATE,
            SYSDATE,
            #{replyLevel},
            #{nickname}
        )
    </insert>

    <!-- 댓글 조건 검색 -->
    <sql id="whereReplyRetrieve">
        <where>
        <choose> 
           <when test="searchDiv != null  and searchDiv == '10' ">
               AND BOARD_NO =  TO_NUMBER(#{searchWord})
           </when>
           <when test="searchDiv != null  and searchDiv == '20' ">
               AND (REG_ID LIKE '%' || #{searchWord} || '%' OR NICK_NAME LIKE '%' || #{searchWord} || '%')
           </when>
           <when test="searchDiv != null  and searchDiv == '30' ">           
               AND REPLY_CONTENTS LIKE '%' || #{searchWord} || '%'
           </when>  
        </choose>
        </where>
    </sql>
    
    <!-- 특정 댓글 조회 -->
    <select id="doSelectOne" parameterType="Reply" resultType="Reply">
        SELECT
            REPLY_NO as replyNo,
            BOARD_NO as boardNo,
            REG_ID as regId,
            REPLY_CONTENTS as replyContents,
            PARENT_REPLY as parentReply,
            TO_CHAR(REG_DT, 'YYYY/MM/DD HH24:MI:SS') as regDt,
            TO_CHAR(MOD_DT, 'YYYY/MM/DD HH24:MI:SS') as modDt,
            REPLY_LEVEL as replyLevel,
            NICK_NAME as nickname
        FROM C##NUMBERONE.REPLY
        WHERE REPLY_NO = #{replyNo}
    </select>

    <!-- 댓글 수정 -->
    <update id="doUpdate" parameterType="Reply">
        UPDATE C##NUMBERONE.REPLY
            SET REPLY_CONTENTS = #{replyContents},
            MOD_DT = SYSDATE
        WHERE REPLY_NO = #{replyNo}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="doDelete" parameterType="Reply">
        DELETE FROM C##NUMBERONE.REPLY
        WHERE REPLY_NO = #{replyNo}
    </delete>
    
    <!-- 댓글 전체 조회 -->
    <select id="doRetrieve" resultType="Reply">
    SELECT T1.*, T2.*
    FROM (
        SELECT ROWNUM AS rnum, A.*
        FROM (
            SELECT 
                REPLY_NO as replyNo, 
                BOARD_NO as boardNo,
                REG_ID as regId,
                REPLY_CONTENTS as replyContents, 
                PARENT_REPLY as parentReply,  
                TO_CHAR(REG_DT, 'YYYY/MM/DD HH24:MI:SS') as regDt,
                TO_CHAR(MOD_DT, 'YYYY/MM/DD HH24:MI:SS') as modDt,
                REPLY_LEVEL as replyLevel,
                NICK_NAME as nickname
            FROM C##NUMBERONE.REPLY            
            <include refid="whereReplyRetrieve"/>
            ORDER BY 
                CASE 
                    WHEN PARENT_REPLY = 0 THEN REPLY_NO 
                    ELSE PARENT_REPLY 
                END ASC,
                REPLY_NO ASC
        ) A
        WHERE ROWNUM <![CDATA[ <= ]]> #{pageSize} * (#{pageNo} - 1) + #{pageSize}
       
    ) T1
    JOIN (
        SELECT COUNT(*) as totalCnt 
        FROM C##NUMBERONE.REPLY
        <include refid="whereReplyRetrieve"/>
    ) T2 ON 1=1
    WHERE T1.rnum <![CDATA[ >= ]]> #{pageSize} * (#{pageNo} - 1) + 1
</select>
    
</mapper>